#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 85px;
    padding: 12px 50px;
    background: rgb(27, 23, 23);
}

#header-container .header-logo img {
    width: 150px;
    height: 45px;
    margin-right: 25px;
}

#header-container .header-logo svg:hover {
    opacity: 0.9;
    color: #c51313;
    cursor: pointer;

    transition: all 0.3s;
}

#header-container .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-content .infoUser {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.header-content .infoUser strong {
    color: #f0f0f0;
    font: 600 14px Archivo;
    margin-bottom: 5px;
}
.header-content .infoUser p {
    color: #999999;
    font: 500 12px Poppins;
}

.header-content .imgUser {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #f0f0f0;

    margin-left: 12px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #F31212;
}
.header-content .imgUser:hover {
    border: 5px solid #c51313;
}

.header-content .imgUser img {
    position: absolute;
    height: 64px;
    width: 64px;    
    border-radius: 50%;    
}