
#sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(27, 23, 23);
}

@media (max-width: 1200px) {
    #sidebar {
        display: none;
    }    
}